<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.yinanchen.hoarder</string>
	<key>connections</key>
	<dict>
		<key>1AFBA318-1D54-4312-94C6-0563C26A6027</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F423047-B2BA-419F-B10A-D4BCE7A7DEB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E864B38-25A5-4BDC-981D-5C0CF9685A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22A57D68-626C-4423-BEE3-7467FD9E5CB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7461A7F-4055-4C29-906B-6492FA8C3A46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2347C2BD-A2D8-49C7-91F9-0E3DC1CDB7DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9008DE8-F9ED-4BC7-8325-F1972ED3C70D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D1103F3-E2F6-4AF1-971C-F68B287327B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AFBA318-1D54-4312-94C6-0563C26A6027</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E455EA1-E560-4B3C-8E3F-26D11149E70D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1ABC3E1-E8A5-4BC9-A381-027A12C03D0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B81A6337-E9B2-4748-9447-D3AFA0F044AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>423249AC-B294-4902-BDFF-D8C6B44FF48E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22A57D68-626C-4423-BEE3-7467FD9E5CB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>629CBC40-4B4A-4B3A-AB9C-6F6195FC9DF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7461A7F-4055-4C29-906B-6492FA8C3A46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E864B38-25A5-4BDC-981D-5C0CF9685A1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F423047-B2BA-419F-B10A-D4BCE7A7DEB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>261C6176-221E-44AC-AFF1-0BDED62833DC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D931E97-CE7D-486A-883A-3EA7B2C3AFDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B31CCC1D-7964-409A-82A3-60284D2B3941</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>694EA87B-F3AD-4BB8-96C3-B84799296959</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>261C6176-221E-44AC-AFF1-0BDED62833DC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5CA0BF28-F018-4F10-8A46-4CF61E95993B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>96FA58A0-FD25-42EB-AE1D-3A8DBCF0AE48</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5698C6A-4CB9-464A-8F07-431CB1DD16FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9533060-64B1-4552-B792-EA2D78E9580E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy link to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>66687379-E345-44A1-BA93-0B3758D1862F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in Hoarder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5C818DB-045F-4C7B-9F22-3A1CD996ED49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E5C7F25-D6EE-4A37-B7C0-E3FB41C85F9C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy Markdown link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9008DE8-F9ED-4BC7-8325-F1972ED3C70D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>250A2BFA-E8E5-42FD-8EE0-E89B85F5D69F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy link to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9031B8B-4F98-42C5-8756-F39444B1DD7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open in Hoarder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B5698C6A-4CB9-464A-8F07-431CB1DD16FF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>View and Actions ...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF3D6F1E-02D6-4871-9734-6D864BB0DEF2</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in Hoarder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECE20F5B-1DF1-443E-ABCB-F38B05CB6A3A</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Copy Markdown link</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1ABC3E1-E8A5-4BC9-A381-027A12C03D0E</key>
		<array/>
		<key>F5C818DB-045F-4C7B-9F22-3A1CD996ED49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66687379-E345-44A1-BA93-0B3758D1862F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>261C6176-221E-44AC-AFF1-0BDED62833DC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E455EA1-E560-4B3C-8E3F-26D11149E70D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>822834C9-FB5B-4D0E-BB6B-D800EB375266</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>629CBC40-4B4A-4B3A-AB9C-6F6195FC9DF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A5730066-CA9D-4997-94D2-EEB989AA3CD7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B81A6337-E9B2-4748-9447-D3AFA0F044AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>96FA58A0-FD25-42EB-AE1D-3A8DBCF0AE48</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B81A6337-E9B2-4748-9447-D3AFA0F044AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7461A7F-4055-4C29-906B-6492FA8C3A46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B31CCC1D-7964-409A-82A3-60284D2B3941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yinan Chen</string>
	<key>description</key>
	<string>Search bookmarks in Hoarder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hoarder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>250A2BFA-E8E5-42FD-8EE0-E89B85F5D69F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D9533060-64B1-4552-B792-EA2D78E9580E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>66687379-E345-44A1-BA93-0B3758D1862F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F1ABC3E1-E8A5-4BC9-A381-027A12C03D0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D9031B8B-4F98-42C5-8756-F39444B1DD7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Extract action and ID from the argument
action=$(echo "$1" | cut -d':' -f1)
id=$(echo "$1" | cut -d':' -f2)

# Define headers
AUTH_HEADER="Authorization: Bearer ${HOARDER_API_KEY}"
CONTENT_HEADER="Content-Type: application/json"
ACCEPT_HEADER="Accept: application/json"

# Function to get the current bookmark state
get_bookmark_state() {
  curl -s -L -X GET "${HOARDER_SERVER_ADDR}/api/v1/bookmarks/${id}" \
       -H "$AUTH_HEADER" \
       -H "$ACCEPT_HEADER"
}

# Initialize response variables
http_status=""
response_body=""

# Perform actions based on the extracted action
case "$action" in
  archive)
    # Get the current archived state
    current_state=$(get_bookmark_state | jq -r '.archived')
    if [ "$current_state" = "true" ]; then
      new_state="false"
    else
      new_state="true"
    fi
    # Toggle archived state
    response=$(curl -w "%{http_code}" -s -o response_body.tmp -L -X PATCH "${HOARDER_SERVER_ADDR}/api/v1/bookmarks/${id}" \
         -H "$AUTH_HEADER" \
         -H "$CONTENT_HEADER" \
         -H "$ACCEPT_HEADER" \
         -d "{\"archived\": $new_state}")
    http_status=$response
    response_body=$(cat response_body.tmp)
    if [ "$http_status" -eq 200 ]; then
      echo "Bookmark ${id} archived state toggled to ${new_state}."
    else
      echo "Failed to toggle archive state for bookmark ${id}. HTTP Status: $http_status"
      echo "Response: $response_body"
    fi
    ;;
  favorite)
    # Get the current favourited state
    current_state=$(get_bookmark_state | jq -r '.favourited')
    if [ "$current_state" = "true" ]; then
      new_state="false"
    else
      new_state="true"
    fi
    # Toggle favourited state
    response=$(curl -w "%{http_code}" -s -o response_body.tmp -L -X PATCH "${HOARDER_SERVER_ADDR}/api/v1/bookmarks/${id}" \
         -H "$AUTH_HEADER" \
         -H "$CONTENT_HEADER" \
         -H "$ACCEPT_HEADER" \
         -d "{\"favourited\": $new_state}")
    http_status=$response
    response_body=$(cat response_body.tmp)
    if [ "$http_status" -eq 200 ]; then
      echo "Bookmark ${id} favourite state toggled to ${new_state}."
    else
      echo "Failed to toggle favourite state for bookmark ${id}. HTTP Status: $http_status"
      echo "Response: $response_body"
    fi
    ;;
  delete)
    # Delete the bookmark
    response=$(curl -w "%{http_code}" -s -o /dev/null -L -X DELETE "${HOARDER_SERVER_ADDR}/api/v1/bookmarks/${id}" \
         -H "$AUTH_HEADER")
    http_status=$response
    if [ "$http_status" -eq 204 ]; then
      echo "Bookmark ${id} deleted successfully."
    else
      echo "Failed to delete bookmark ${id}. HTTP Status: $http_status"
    fi
    ;;
  *)
    # Default case if action is not recognized
    echo "Unknown action: $action"
    ;;
esac

# Clean up temporary response files
rm -f response_body.tmp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E455EA1-E560-4B3C-8E3F-26D11149E70D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>http*</string>
						<key>outputlabel</key>
						<string>open url</string>
						<key>uid</key>
						<string>261C6176-221E-44AC-AFF1-0BDED62833DC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(archive|favorite|delete):[a-zA-Z0-9]+$</string>
						<key>outputlabel</key>
						<string>action</string>
						<key>uid</key>
						<string>822834C9-FB5B-4D0E-BB6B-D800EB375266</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>tags:[a-zA-Z0-9]+$</string>
						<key>outputlabel</key>
						<string>show all tags</string>
						<key>uid</key>
						<string>A5730066-CA9D-4997-94D2-EEB989AA3CD7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>:action:back</string>
						<key>outputlabel</key>
						<string>go back</string>
						<key>uid</key>
						<string>96FA58A0-FD25-42EB-AE1D-3A8DBCF0AE48</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F5C818DB-045F-4C7B-9F22-3A1CD996ED49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>http*</string>
						<key>outputlabel</key>
						<string>open url</string>
						<key>uid</key>
						<string>261C6176-221E-44AC-AFF1-0BDED62833DC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(archive|favorite|delete):[a-zA-Z0-9]+$</string>
						<key>outputlabel</key>
						<string>action</string>
						<key>uid</key>
						<string>822834C9-FB5B-4D0E-BB6B-D800EB375266</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>tags:[a-zA-Z0-9]+$</string>
						<key>outputlabel</key>
						<string>show all tags</string>
						<key>uid</key>
						<string>A5730066-CA9D-4997-94D2-EEB989AA3CD7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>:action:back</string>
						<key>outputlabel</key>
						<string>go back</string>
						<key>uid</key>
						<string>96FA58A0-FD25-42EB-AE1D-3A8DBCF0AE48</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CEB88532-41DA-4FEE-827D-29AA1F78530C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
# Extract action and ID from the argument
action=$(echo "$1" | cut -d':' -f1)
id=$(echo "$1" | cut -d':' -f2)

/usr/bin/python3 link-info.py "$id" --tags</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>629CBC40-4B4A-4B3A-AB9C-6F6195FC9DF4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'

/usr/bin/python3 link-info.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B5698C6A-4CB9-464A-8F07-431CB1DD16FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for bookmarks ...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'

/usr/bin/python3 hoarder.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Recent bookmarks</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9008DE8-F9ED-4BC7-8325-F1972ED3C70D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>hoarder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>2347C2BD-A2D8-49C7-91F9-0E3DC1CDB7DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EF3D6F1E-02D6-4871-9734-6D864BB0DEF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Caching thumbnails ...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'

/usr/bin/python3 hoarder-cache.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Caching thumbnails ...</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>17CB1E6B-9582-4A10-8B72-D92E87143017</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8E5C7F25-D6EE-4A37-B7C0-E3FB41C85F9C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ECE20F5B-1DF1-443E-ABCB-F38B05CB6A3A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>hoarder</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B81A6337-E9B2-4748-9447-D3AFA0F044AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'

/usr/bin/python3 hoard.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1AFBA318-1D54-4312-94C6-0563C26A6027</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hoard</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to Hoarder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D1103F3-E2F6-4AF1-971C-F68B287327B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4F423047-B2BA-419F-B10A-D4BCE7A7DEB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0D931E97-CE7D-486A-883A-3EA7B2C3AFDD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\b(Error|Unknown)\b</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>261C6176-221E-44AC-AFF1-0BDED62833DC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7E864B38-25A5-4BDC-981D-5C0CF9685A1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>694EA87B-F3AD-4BB8-96C3-B84799296959</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tags</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for tags ...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'

/usr/bin/python3 show-tags.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show tags</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22A57D68-626C-4423-BEE3-7467FD9E5CB2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>tags</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>423249AC-B294-4902-BDFF-D8C6B44FF48E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for bookmark with tag ...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'

/usr/bin/python3 show-tag-bookmarks.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show bookmark with tag</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F7461A7F-4055-4C29-906B-6492FA8C3A46</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>tags</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5CA0BF28-F018-4F10-8A46-4CF61E95993B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>http*</string>
						<key>outputlabel</key>
						<string>open url</string>
						<key>uid</key>
						<string>261C6176-221E-44AC-AFF1-0BDED62833DC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>:action:back</string>
						<key>outputlabel</key>
						<string>go back</string>
						<key>uid</key>
						<string>96FA58A0-FD25-42EB-AE1D-3A8DBCF0AE48</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B31CCC1D-7964-409A-82A3-60284D2B3941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># [Hoarder Workflow](https://github.com/yinan-c/alfred-hoarder)

Hoarder (now [Karakeep](https://github.com/karakeep-app/karakeep)) is a self-hosted bookmark app with AI automatic tagging and full text search.

This workflow can list and full text search your bookmarks based on title, tags, description, cached content and note!

## Setup

This workflow requires Hoarder/Karakeep URL and its API key.

[Self-host](https://docs.karakeep.app/Installation/docker) your own instance or use [official instance](https://cloud.karakeep.app/signin).

Setup an API key on `{hoarder_url}/settings/api-keys`.

## Usage

`hoarder` + keyword to full text search, `hoard` to hoard (add links and notes).

 - &lt;kbd&gt;↩&lt;/kbd&gt; : Open link directly

 - &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Copy link to clipboard

 - &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Open in your Hoarder server

 - &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: View and control (Favorite/Archive/Delete)

 - &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Copy markdown link</string>
	<key>uidata</key>
	<dict>
		<key>0D931E97-CE7D-486A-883A-3EA7B2C3AFDD</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>855</real>
		</dict>
		<key>17CB1E6B-9582-4A10-8B72-D92E87143017</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>1AFBA318-1D54-4312-94C6-0563C26A6027</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>22A57D68-626C-4423-BEE3-7467FD9E5CB2</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>2347C2BD-A2D8-49C7-91F9-0E3DC1CDB7DD</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>250A2BFA-E8E5-42FD-8EE0-E89B85F5D69F</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>2D1103F3-E2F6-4AF1-971C-F68B287327B6</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>3E455EA1-E560-4B3C-8E3F-26D11149E70D</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>423249AC-B294-4902-BDFF-D8C6B44FF48E</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>1070</real>
		</dict>
		<key>4F423047-B2BA-419F-B10A-D4BCE7A7DEB3</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>5CA0BF28-F018-4F10-8A46-4CF61E95993B</key>
		<dict>
			<key>xpos</key>
			<real>2095</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>629CBC40-4B4A-4B3A-AB9C-6F6195FC9DF4</key>
		<dict>
			<key>xpos</key>
			<real>1240</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>66687379-E345-44A1-BA93-0B3758D1862F</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>694EA87B-F3AD-4BB8-96C3-B84799296959</key>
		<dict>
			<key>xpos</key>
			<real>2100</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>7E864B38-25A5-4BDC-981D-5C0CF9685A1A</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>8E5C7F25-D6EE-4A37-B7C0-E3FB41C85F9C</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>B31CCC1D-7964-409A-82A3-60284D2B3941</key>
		<dict>
			<key>xpos</key>
			<real>1795</real>
			<key>ypos</key>
			<real>1080</real>
		</dict>
		<key>B5698C6A-4CB9-464A-8F07-431CB1DD16FF</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>B81A6337-E9B2-4748-9447-D3AFA0F044AF</key>
		<dict>
			<key>xpos</key>
			<real>1240</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>CEB88532-41DA-4FEE-827D-29AA1F78530C</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>D9031B8B-4F98-42C5-8756-F39444B1DD7F</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>D9533060-64B1-4552-B792-EA2D78E9580E</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>E9008DE8-F9ED-4BC7-8325-F1972ED3C70D</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>ECE20F5B-1DF1-443E-ABCB-F38B05CB6A3A</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>EF3D6F1E-02D6-4871-9734-6D864BB0DEF2</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>F1ABC3E1-E8A5-4BC9-A381-027A12C03D0E</key>
		<dict>
			<key>xpos</key>
			<real>1245</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F5C818DB-045F-4C7B-9F22-3A1CD996ED49</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>F7461A7F-4055-4C29-906B-6492FA8C3A46</key>
		<dict>
			<key>xpos</key>
			<real>1520</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hoarder</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hoard</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword to add</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>add_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>https://cloud.karakeep.app</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Self-hosted instance URL or official app URL</string>
			<key>label</key>
			<string>Hoarder URL</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HOARDER_SERVER_ADDR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Setup on {hoarder_url}/settings/api-keys</string>
			<key>label</key>
			<string>Hoarder API KEY</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HOARDER_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please enter an integer for the number of tags in title, 0 to disable</string>
			<key>label</key>
			<string>Shown tags in tiltle</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TAGS_SHOWN_COUNT</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://github.com/yinan-c/alfred-hoarder</string>
</dict>
</plist>
